<nav class="navbar">
  <!-- PROFIL -->
  <div class="nav-profile">
    <img src="/assets/images/profile.jpg" alt="Photo de profil" />
    <span>Cellarius Matteo</span>
  </div>

  <div class="nav-toggle">☰</div>

  <!-- NAVIGATION -->
  <ul class="nav-links" id="nav-links">
    <li>
      <a href="/index.html">Accueil</a>
    </li>

    <li>
      <a href="/pages/presentation.html">Présentation</a>
    </li>

    <li>
      <a href="/pages/parcours.html">Parcours</a>
    </li>

    <!-- PROJETS -->
    <li class="dropdown">
      <a href="/pages/realisations.html">Réalisations ▾</a>

      <ul class="dropdown-menu">
        <li>
          <a href="/pages/realisations/realisation-1.html">API GLS</a>
        </li>

        <li>
          <a href="/pages/realisations/realisation-2.html">Réalisation 2</a>
        </li>
      </ul>
    </li>

    <!-- COMPÉTENCES -->
    <li class="dropdown">
      <a href="/pages/skills.html">Compétences ▾</a>

      <ul class="dropdown-menu">
        <li>
          <a href="/pages/skills/technical.html"> Compétences techniques </a>
        </li>

        <li>
          <a href="/pages/skills/human.html"> Compétences humaines </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="/pages/contact.html">Contact</a>
    </li>
  </ul>
</nav>
